<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--friendly to mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html>
	<head>
	    <title>Homepage</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="layout">
            <br>
            <br>
            <div class="pgs">
                <div class="layout-right" style="background-color: #cc0000;">
                    <div class="right-up" style="background-color: #999999;">
                        <div class="up">
                            <div class="corner">
                                <table class="table-four table-border">
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                                
                            </div>
                            <div class="corner">
                                <table class="table-four table-border">
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="up">
                            <table class="table-six-vert table-border">
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="up">
                            <table class="table-six-vert table-border">
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="up">
                            <table class="table-six-vert table-border">
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="up">
                            <table class="table-six-vert table-border">
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="up">
                            <table class="table-six-vert table-border">
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                                <tr class="table-border six-width">
                                    <td class="table-border"></td>
                                    <td class="table-border"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="right-down">
                        <div class="down">
                            <div class="down-four">
                                <table class="table-six-heri table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-four">
                                <table class="table-six-heri table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-four">
                                <table class="table-six-heri table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-four">
                                <table class="table-six-heri table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="down"style="border-left: 2px solid #999999;">
                            <div class="down-four">
                                <table class="table-six-heri table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-four">
                                <table class="table-six-heri table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-four">
                                <table class="table-six-heri table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-four">
                                <table class="table-six-heri table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="down" style="border-left: 2px solid #999999;">
                            <div class="down-space" style="background-color: #666666"></div>
                            <div class="down-three">
                                <table class="table-linefour table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-three">
                                <table class="table-eight table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-three">
                                <table class="table-linefour table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="down" style="border-left: 2px solid #999999;">
                            <div class="down-four">
                                <table class="table-six-heri table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-four">
                                <table class="table-six-heri table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-four">
                                <table class="table-eight table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="down-four">
                                <table class="table-eight table-border">
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border six-width">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-left" style="background-color: #ffcc00;">
                    <div class="left-up">
                        <div class="up-two">
                            <div class="up-four">
                                <table class="table-four table-border">
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="up-four">
                                <table class="table-four table-border">
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="up-four">
                                <table class="table-four table-border">
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="up-four">
                                <table class="table-four table-border">
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="up-two">
                            <div class="up-four">
                                <table class="table-four table-border">
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="up-four">
                                <table class="table-four table-border">
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="up-four">
                                <table class="table-four table-border">
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="up-four">
                                <table class="table-four table-border">
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                    <tr class="table-border">
                                        <td class="table-border"></td>
                                        <td class="table-border"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="left-down" style="background-color: #666666"></div>
                </div>
            </div>
            <div>
                <p style="font-size: 22px;color:red;text-align: right">Red color means occupied</p>
                <p  style="font-size: 22px;color:green;text-align: right">Green color means vaccant</p>
            </div>



        </div>








    </body>
</html>