<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--friendly to mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="form-group" style="margin-left: 20%;margin-right: 20%;margin-top: 10% ;>
        <p class="text-center" style="font-size: 30px">Welcome,Student!</p><br><br>
        <form method="post" enctype="multipart/form-data" class="theme-signin">
            <div class="form-group" style="margin-left: 12%;margin-right: 12%">
            <div class="form-group row" >

                    <label class=" col-sm-3 col-form-label">Student Number</label>
                    <input type="text" class="col-sm-9" id="studentnumber"  placeholder="znumber">
            </div><br>
            <div class="form-group row">
                 <label class=" col-sm-3 col-form-label"">Password</label>

                <input type="password" class="col-sm-9 password" id="Password"  placeholder="Password">
            </div><br><br>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg" style="width: 50%;margin: 10px 25%;">Login</button>

            </div>
            </div>


        </form>
    </div>
</body>

</html>


