body{
  min-width:992px; 
  margin: 0;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  /*color: #212529;*/
  text-align: left;
  background-color: #fff; 
  color: #999999;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
@media (min-width: 576px) {
    .container {max-width: 540px; } 
}
@media (min-width: 768px) {
    .container {max-width: 720px; } 
}
@media (min-width: 992px) {
    .container {max-width: 960px; } 
}
@media (min-width: 1200px) {
    .container {max-width: 1140px;} 
}

.layout{
  width: 100%;
  height: 810px;
  background-color: #cccccc;
  position: fixed;
}
.pgs{
  width:80%;
  height: 80%;
  background-color: #ffffff;
  margin-top: 20px;
  margin-left: 10%;
}
.layout-right{
  width: 78%;
  height:100%;
  display: inline-block;
  float: left;
}
.right-up{
  width: 100%;
  height: 25%;
}
.right-down{
  width: 100%;
  height: 75%;
}
.layout-left{
  width: 22%;
  height: 100%;
  display: inline-block;
  float: left;
}
.up{
  display: inline-block;
  float: left;
  width: 16.666%;
  height: 100%;
  background-color: #fff;
  border:2px solid #fff;
}
.corner{
  width: 100%;
  height: 50%;
  background-color: #fff;
  border:0.5px solid #fff;
}
.down{
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
}
.down-four{
  height: 25%;
  width: 100%;
  background-color: #fff;
  border:2px solid #fff;
}
.down-space{
  height: 40%;
  width: 100%;
  background-color: #fff;
  border:2px solid #fff;
}
.down-three{
  height: 20%;
  width: 100%;
  background-color: #fff;
  border:2px solid #fff;
}
.left-up{
  width: 100%;
  height: 60%;
}
.left-down{
  width: 100%;
  height: 40%;
  background-color: #fff;
  border:2px solid #fff;
}
.up-two{
  display: inline-block;
  float: left;
  height: 100%;
  width: 50%;
}
.up-four{
  width: 100%;
  height: 25%;
  background-color: #fff;
  border:2px solid #fff;
}
/*-----------------*/
.table-border{
  border:1px solid #666666;
}
.table-four{
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-left: 10%;
}     
.table-six-vert{
  width: 60%;
  height: 80%;
  margin-top: 8%;
  margin-left: 20%;
}
.table-six-heri{
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-left: 10%;
}
.table-linefour{
  width: 80%;
  height: 50%;
  margin-top: 10%;
  margin-left: 10%;
} 
.table-eight{
  height: 80%;
  width: 80%;
  margin-top: 4%;
  margin-left: 10%;
}







                  
